body{
    background-color: #D8F2F0;
    font-weight: bold;
}
header{
    padding-bottom:20px;
}
#highScores{
    color:#3E8C84;
    
}

#highScores:hover{
    color:#53bd0c;
}

ol {
    list-style-type: upper-alpha;
    list-style-position: outside;
}


li{
    margin:10px;
    padding:5px 0 5px 10px;
    max-width: 300px;
    background-color: white;
    border-radius: 25px;
    
}
li:hover{
    background-color:#53bd0c;
}